@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#List {
    border-color: green;
    border-style: solid;
    border-width: medium;
    border-radius: 12px;
}

#RecipesnArticlesChar {
    height: 200px;
}

.CH-color {
    background-color: #540404 !important;
    color: white;
    border-color: darkgrey !important;
}

.ch-border {
    border-left: 8px solid #540404;
    border-right: 8px solid #540404;
}

.main-body {
    padding-left: 50px;
    padding-right: 50px;
}

.mt-50 {
    margin-top: 40px;
}

.mt-80 {
    padding-top: 75px;
}

.nav-bug {
    margin-top: 130px !important;
}

.no-ovfl {
    overflow-x: hidden !important;
}

.ovfl-s {
    overflow-y: scroll !important;
}

.recipelist-height {
    max-height: 200px;
}

.home-recipe-img {
    width: 300px;
    height: 200px;
}

.home-gallery-img {
    width: 300px !important;
    height: 200px;
}

.btn-CH {
    background-color: #540404;
    color: white;
    margin-top: 12px;
}

#admin-btn {
    background-color: #540404;
    color: white;
}

.btn-CH:hover {
    background-color: grey;
    color: white;
}

.statistic-card {
    padding: 5px 10px;
    border-color: grey;
    border-style: solid;
    border-width: 3px;
}

#article-size {
    height: 80px;
    width: 80px;
}

.recipe-sec {
    color: #3e95cd;
}

.article-sec {
    color: #c45850;
}

.centered {
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#UsersNow {
    padding-left: 12px;
}

.dig {
    max-width: 45%;
}

.br-black {
    border: 3px solid #222222;
}

.no-padding {
    padding: 0px 0px 0px 0px;
    overflow-y: hidden;
}

.admin-conteiner {
    background-image: url("../images/dashboard-background2.jpg");
    background-size: cover;
}

    .admin-conteiner h1,
    .admin-conteiner h2,
    .admin-conteiner h4,
    .admin-conteiner h5,
    .admin-conteiner label,
    .admin-conteiner ul li a {
        color: white;
    }

.pow {
    position: absolute;
    right: 0;
}

.homeinfo {
    position: absolute;
    z-index: 0;
    margin: 250px 50px;
    font-size: 28px;
    color: white;
}

    .homeinfo h1 {
        font-size: 42px;
        color: lightgray;
    }

.home-pic {
    width: 100%;
    height: 100%;
}

.listpic {
    width: 100%;
    max-height: 200px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-userList {
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.article-box {
    background-color: #540404;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    padding-bottom: 30px;
}

.toArticle-box {
    background-color: white;
    color: black;
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
    min-height: 120px;
}

#toArticleBtn {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    margin-bottom: 30px;
}

.button {
    border: solid;
    border-width: 6px;
    border-color: white;
    background-color: #540404;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

    .button:hover {
        background-color: dimgrey;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        top: 40%;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
        color: white;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

.recipe-card {
    width: 300px;
    height: 209px;
}

    .recipe-card img {
        width: 300px;
        height: 209px;
    }

#PaginationNav {
    position: absolute;
    margin-top: 30px;
    left: 40%;
}

@media screen and (min-width: 1280px) {
}

@media(max-width: 1280px) {

    .main-body {
        margin: 0px 0px 0px 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width: 975px) {
    .ing-img {
        border-top: 12px groove  white;
        border-left: none;
    }
    .br-l-r-white {
        border-left: none !important;
        border-right: none !important;
    }
}

@media(min-width: 975px) {
    .ing-img {
        border-left: 12px double white;
    }
   
}
.sm{
    font-size:12px;
}
.mx-h {
    height: 300px !important;
}

.br-12 {
    border-radius: 12px;
}

.recipeTitle {
}

.gallery-bg {
    background-image: url('../images/body-bg.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
}

    .gallery-bg h2 {
        color: white;
    }

#recipeHeading {
    background-color: #540404;
    color: white;
    padding: 4px;
    margin-top: 10px;
}

    #recipeHeading h1 {
        color: white;
        margin: 3px 3px;
    }

#recipeBody {
    padding: 4px;
    border: 4px solid #540404;
}

.recipeText {
    min-height: 400px;
    height: 100%;
    background-color: white;
    font-size: 20px;
    border-radius: 12px;
    text-align: left;
    padding: 10px;
}

#recipeProps {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 10px;
    background-color: #540404;
    overflow: visible;
}

.recipeDetailsPage {
    border: 8px outset #540404;
    padding: 12px;
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    margin-bottom : 3px;
}

.recipeProperty {
    text-align: center;
    border: 3px solid grey;
    border-radius: 12px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px auto 10px auto;
    max-width: 180px;
    min-width: 150px;
    background-color: white;
    color: black;
}

.recipeReviews {
    margin-top: 30px;
}

.recipeIngredients {
    margin: 10px auto 10px auto;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    font-size: 20px;
}

.recipe-img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    max-height: 400px;
}

.recipeImage {
    min-height: 330px;
    width: 80%;
    max-width: 80%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.recipeReviews {
    border-top: 4px dashed #540404;
    padding: 26px;
}

.reviewsPanel {
    min-height: 100px;
    overflow: visible;
    padding-left: 30px;
    padding-right: 30px;
}

#reviewDescription {
    width: 100%;
}

.starrating > input {
    display: none;
}

.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 32px;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating > label {
    color: #222222;
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

.starrating > input:hover ~ label {
    color: #ffca08;
}

.review-card {
    padding-left: 0px !important;
    padding-right: 10px !important;
    margin-top: 10px;
    min-width: 300px;
    
}

.star {
    color: yellow;
}

.review-header {
    background-color: #540404;
    color: white;
    border: 3px solid #540404;
    padding: 3px 3px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.review-body {
    border: 3px dashed #540404;
    border-top: none !important;
    padding: 3px 3px;
    min-height: 100px;
}

.category-breadcrumb {
    border-bottom: 1px solid #f9f9f9;
    box-sizing: border-box;
    padding: 80px 0;
    width: 100%;
    background-image: url(../images/bg_breadcrumbs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    .category-breadcrumb h1 {
        font-size: 35px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        padding: 8px 0;
        font-weight: 600;
    }

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-secondary:hover {
    background: #540404;
    color: #fff !important;
}

.btn-primary {
    color: #540404;
    background-color: #fff;
    border-color: #540404;
}

    .btn-primary:hover {
        background: #540404;
        color: #fff !important;
        border-color: #540404;
    }

.btn-fb {
    color: #0069d9;
    background-color: #fff;
    border-color: #204d74;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #204d74;
    }

#avatar-img {
    max-width: 65px;
    border-radius: 50px;
}

#content-textarea {
    border: 2px solid;
    border-radius: 25px;
    border-color: #540404;
}

.inactive {
    color: black !important;
    background-color: white !important;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 100px;
    border: 5px solid #540404;
    z-index: 9;
}

.chat-container {
    max-width: 600px;
    min-width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

.chat-head {
    margin-top: -5px;
    background-color: #540404;
    color: white;
    margin-right: 0px;
    padding-left: 20px;
    margin-left: 0px;
}

.close-btn {
    color: white;
    right: 0;
    font-size: 32px;
}

#messagesList {
    font-size: 18px;
}

.chat-output {
    height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-blank {
    width: 340px;
    height: 50px;
}

#navbar {
    transition: 0.7s;
}
.nav-panel {
    display: none;
    background-color: transparent;
    overflow: hidden;
    padding-left: 23px;
    transition: 0.4s;
}
    .nav-panel div {
        margin-top: 18px;
        margin-bottom: 18px;
        transition: 0.4s;
    }
    .nav-panel div:hover {
        background-color: #222222;
    }
.admin-nav {
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 18px;
    color: white;
    margin-top:6px;
}
.admin-nav:hover{
    background-color: #222222;
    
}
    .admin-nav .active ::after {
        background-color: #222222;
    }
.admin-nav-item{
    width:100%;
}
.admin-nav-item a {
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 18px;
    color: white;
    margin-top: 6px;
}
    .admin-nav-item a:hover {
        background-color: #222222;
    }
.cookie-pos{
    position: fixed;
    bottom:0;
    z-index:100;
}
.br-b-white{
    border-bottom : 3px solid white;
}
.br-l-r-white{
    border-left: 3px solid white;
    border-right: 3px solid white;
}
@media (min-width: 1200px) and (max-width: 1380px) {
    #logo {
        width: 200px !important;
    }
}
