#List {
    border-color: green;
    border-style: solid;
    border-width: medium;
    border-radius : 12px;
}
#RecipesnArticlesChar{
    height:200px;
}
.statistic-card {
    padding: 5px 10px;
    border-color: grey;
    border-style: solid;
    border-width: 3px;
}
#article-size {
    height: 80px;
    width: 80px;
}
.recipe-sec {
    color: #3e95cd;
}
.article-sec {
    color: #c45850;
}
.centered{
    align-content:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#UsersNow{
    padding-left:12px;
}
.dig{
    max-width:45%;
}
#DashboardCon{
    background-image:url("../images/dashboard-background.jpg");
    background-size: cover;
}
.homeinfo {
    position: absolute;
    z-index: 0;
    margin: 250px 50px;
    font-size: 28px;
    color:white;
}
.homeinfo h1{
    font-size: 42px;
    color: lightgray;
}
.article-box {
    background-color: #540404;
    align-content:center;
    align-items:center;
    padding-top:20px;
    color:white;
   
}
.toArticle-box {
    background-color: white;
    color: black;
    font-size: 30px;
    position: relative;
    max-height: 500px;
    margin-bottom: 30px;
}
#toArticleBtn {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width:100%;
    height:100%;
    margin-left:-15px;
}
.button {
    border: solid;
    border-width: 6px;
    border-color: white;
    background-color: #540404;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}
.button:hover{
    background-color:dimgrey;
}
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        top:40%;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
        color:white;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
.recipe-card {
    width: 300px;
    height: 209px;
}
    .recipe-card img {
        width: 300px;
        height: 209px;
    }
#PaginationNav{
    position:absolute;
    margin-top: 30px;
    left:40%;
}
@media screen and (min-width: 1280px) {
    .ar-row {
        margin-right: 300px;
        margin-left: 300px;
    }
}
@media(max-width: 1280px) {
    .ar-row {
        margin-right: 100px;
        margin-left: 100px;
    }
}
.recipeTitle{

}
#recipeHeading{
    background-color: #540404;
    color:white;
    padding: 4px;
}
#recipeHeading h1{
    color:white;
    margin: 3px 3px;

}
#recipeBody{
    padding:4px;
    border: 4px solid #540404;
   
}
.recipeText{
    min-height:150px;
}
#recipeProps {
    
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: -6px;
    background-color: #540404;
    padding-left: 12px;
}
.recipeDetailsPage {
    margin-left: 50px;
    margin-right: 50px;
    border: 4px dashed #540404;
    padding: 12px;
}
.recipeProperty {
    
    text-align: center;
    border: 3px solid grey;
    border-radius: 12px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px 3px 3px 3px;
    max-width: 180px;
    min-width: 150px;
    background-color: white;
    color: black;
}
.recipeReviews{
    margin-top:30px;
}
.recipe-img{
    border: 5px solid #540404;
    border-radius: 12px;
    height:330px;
    width:550px;
    margin-top:3px;
    
}
.recipeImage {
    height: 330px;
    width: 550px;
}
.recipeReviews {
    border-top: 4px dashed #540404;
    padding: 30px;
}
.reviewsPanel {
    min-height: 100px;
}
/** ADD YOUR AWESOME CODES HERE **/