.sendgrid-subscription-widget input {
    padding: .5em .5em .55em;
    font-size: .8em;
    font-family: sans-serif
}

.sendgrid-subscription-widget .sg_signup_first_name, .sendgrid-subscription-widget .sg_signup_last_name {
    margin-right: .5em
}

.sendgrid-subscription-widget .sg-submit-btn {
    display: inline-block;
    color: #444;
    border: 1px solid #ccc;
    background: #ddd;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: .5em;
    margin: 0 .4em;
    text-align: center;
    font-size: .9em;
    font-family: sans-serif
}

.sendgrid-subscription-widget .sg-submit-btn:active {
    color: #8e8b8b;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .6)
}

.sendgrid-subscription-widget .response {
    display: none;
    font-family: sans-serif;
    font-size: .8em
}

.sendgrid-subscription-widget .success {
    color: green
}

.sendgrid-subscription-widget .error, .sendgrid-subscription-widget .sg-consent-text a {
    color: #3097d1
}

.sendgrid-subscription-widget .sg-consent-text {
    font-size: .9em
}

.sendgrid-subscription-widget .sg-consent-text label {
    font-weight: 400
}

.sendgrid-subscription-widget .required {
    outline: 1px solid #f00;
}

.sendgrid-subscription-widget .sg_custom {
    margin-left: 5px;
}

.sendgrid-subscription-widget .checkbox_label {
    padding-left: 3px;
}