@model CookingHub.Models.InputModels.AdministratorInputModels.Recipes.RecipeCreateInputModel
@{
    this.ViewData["Title"] = "Create Recipe";
    this.ViewData["ActivePage"] = RecipesNavPages.Recipes;

    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="row">
    <div class="col-md-9">
        <form asp-area="Administration" asp-controller="Recipes" asp-action="Create" enctype="multipart/form-data" method="post">
            <h4>Create new recipe</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients"></label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationTime"></label>
                <input asp-for="PreparationTime" class="form-control" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingTime"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for="CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortionsNumber"></label>
                <input asp-for="PortionsNumber" class="form-control" />
                <span asp-validation-for="PortionsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" name="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Difficulty" class="form-check-input" value="Easy">Easy
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Difficulty" class="form-check-input" value="Medium">Medium
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Difficulty" class="form-check-input" value="Difficult">Hard
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <div class="container">
                    <select asp-for="CategoryId" asp-items="categories">
                        <option selected="" disabled="">
                            Select Category
                        </option>
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
}

