@model CookingHub.Models.ViewModels.Articles.ArticleEditViewModel
@{
    this.ViewData["Title"] = "Edit Article";
    this.ViewData["ActivePage"] = ArticleNavPages.Categories;
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="row">
    <div class="col-md-9">
        <form asp-area="Administration" asp-controller="Articles" asp-action="Edit" enctype="multipart/form-data" method="post">
            <h5>Edit <b>@Model.Title</b> category with id: @Model.Id</h5>
            <hr />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Old Image</label>
                <div class="form-group">
                    <input asp-for="ImagePath" class="form-control" />
                </div>
                <div class="form-group">
                    <img class="img-fluid img-thumbnail" src="@Model.ImagePath" alt="Image" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" asp-for="Image" name="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <div class="container">
                    <select asp-for="CategoryId" asp-items="categories">
                        <option selected="" disabled="">
                            Select Category
                        </option>
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save changes</button>
            <button asp-area="Administration" asp-controller="Articles" asp-action="GetAll" class="btn btn-primary">Back to all articles</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
}