@{
    this.ViewData["ActivePage"] = ArticleNavPages.Articles;
    this.ViewData["Title"] = "Articles";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked">
                <li class="@ArticleNavPages.CreateArticleNavClass(ViewContext)">
                    <a asp-controller="Articles" asp-action="Create">Create article</a>
                </li>
                <li class="@ArticleNavPages.GetAllNavClass(ViewContext)">
                    <a asp-controller="Articles" asp-action="GetAll">List articles</a>
                </li>
            </ul>
        </div>
    </div>
</div>
