@model CookingHub.Models.ViewModels.Articles.ArticleDetailsViewModel
@{
    this.ViewData["Title"] = "Delete Article";
    this.ViewData["ActivePage"] = ArticleNavPages.Articles;
}

<div class="row">
    <div class="col-md-9">
        <form asp-area="Administration" asp-controller="Articles" asp-action="Remove" method="post">
            <h5 class="text-danger">Are you sure you want to delete <b>@Model.Title</b> article?</h5>
            <hr />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" disabled="" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="SanitizedDescription" class="form-control" disabled=""></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <div class="form-group">
                    <img class="img-fluid img-thumbnail" src="@Model.ImagePath" alt="Image" />
                </div>
            </div>
            <div class="form-group">
                <label>Created by</label>
                <input asp-for="UserUsername" class="form-control" disabled="" />
            </div>
            <button type="submit" class="btn btn-danger">Delete article</button>
            <button asp-area="Administration" asp-controller="Articles" asp-action="GetAll" class="btn btn-primary">Back to all articles</button>
        </form>
    </div>
</div>