@using CookingHub.Models.ViewModels.Privacy
@model PrivacyDetailsViewModel
@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <p>@Html.Raw(Model.SanitizedPageContent)</p>
</div>

<partial name="_ContactsInfoPartial" />
