@using CookingHub.Models.ViewModels.Privacy
@model PrivacyDetailsViewModel
@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-box mt-80">
    <div class="container">
        <p>@Html.Raw(Model.SanitizedPageContent)</p>
    </div>

    <partial name="_ContactsInfoPartial" />
</div>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
</a>

<a asp-controller="Home" asp-action="Chat" id="chat-btn" title="Chat" style="display: none;">
    <i class="fas fa-comment" aria-hidden="true"></i>
</a>
