@using CookingHub.Common
@{
    this.ViewData["Title"] = "Change password";
}

@model ChangePasswordViewModel

<div class="jumbotron text-center">
    <h1 class="display-3">Password expiration</h1>
    <hr />
    <p class="lead">@Model.Message</p>
    <hr>
    <p class="lead">
        <a class="btn btn-lg btn-primary" href="~/Identity/Account/Manage/ChangePassword" role="button">Change password</a>
    </p>
</div>