@page
@model Lockout
@{
    ViewData["Title"] = "Locked out";
}

<div class="container mt-80">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
        <img class="img-thumbnail mb-3" src="~/images/locked-out.jpg" />
    </header>
</div>
